body {
    background-image: url('https://mobiletrans.wondershare.com/images/article/transfer-microsoft-office-to-another-computer-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  h1 {
    text-align: center;
    background-color: #2ECC71;
    font-family: 'Times'; 
    border: 2px dotted blue;
    padding: 10px 15px;
    width: 250px;
    margin-bottom: 20px;
  }
  
  p {
    text-align: justify;
    background-color: hsl(195, 100%, 58%); 
    font-style: italic;
    padding: 20px;
    border: 3px solid black;
    border-top-style: dashed;
    border-right-style: dotted;
    border-bottom-style: solid;
    border-left-style: double;
    width: 500px;
  }
  
  span {
    font-weight: bold;
    font-style: italic;
    color: rgb(153, 0, 0);
    margin: 2px 5px;
  }